.navigator {
  margin-top: 13vh;
  margin-left: 1vw;
  font-weight: 450;
  font-size: 25px;
}
.text {
  border: 1px solid #dadce0;
  margin: 1em;
  padding: 0.25em 0.6em;
  border-radius: 10%;
}
.switcher {
  margin-left: 30vw;
  align-content: end;
  margin-top: 13vh;
  font-weight: 450;
}
