.App {
  margin-left: 10vw;
  margin-right: 10vw;
}

.App-logo {
  height: 40px;
  width: 40px;
  margin: 10vh 1vw 1vh 0vw;
  pointer-events: none;
}

.title {
  font-size: 22px;
  margin-top: 12vh;
}

.toolbar {
  display: flex;
  justify-content: stretch;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
}
